**/.DS_Store
*.cmp
*.out
*.tst
*.txt
*.hack
*.ipynb
*.pdf
**/__pycache__
*.vms
*.vm
*.asm
*.html
!04/fill/*.asm
!04/mult/*.asm
09/Average
09/BitmapEditor
09/ComplexArrays
09/ConvertToBin
09/Fraction
09/HelloWorld
09/List
09/Pong
09/Square
10/
11/
12/
13/